@import "tailwindcss";

@theme {
  --font-montserrat: var(--font-montserrat);
  --font-bbanonym: 'BBAnonymPro', system-ui, sans-serif;

  --color-primary: #2a5fff;
  --color-background: #ffffff;
  --color-wrapper: #f5f5f5;
  --color-option-unselected: #ececec;
  --color-option-selected: #2a5fff;
  --color-text-title: #2a5fff;
  --color-text-subtitle: #78787b;
  --color-text-body: #000000;
  --color-text-selected: #ffffff;
  --color-text-secondary: #89898b;
  --color-interstitial-purple: #8780F9;
  --color-interstitial-blue: #4c54fe;
  --color-interstitial-green: #35B440;
}

@font-face {
  font-family: 'BBAnonymPro';
  src: url('/fonts/BBAnonymPro-Ultra.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: var(--font-montserrat);
  background-color: #ffffff;
  color: var(--color-text-body);
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

/* Custom utility for safe area */
.safe-area-top {
  padding-top: env(safe-area-inset-top, 20px);
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
